p{
    color:aqua;
        font-size: 20px;
        text-align: center;
}

h1{
    color:brown;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

#texto1{
    color:rgb(64,224,208);
    background-color:#495E57;
     
}
#texto2{
    color:rgb(0,250,154) ;
    background-color:#706233 ;
}
.destaques {
    color:rgb(138,43,226);
    font-size: 35;
    font-style: italic;

}